@use "./base.scss";

// put your custom CSS here!
$lightGreen: rgba(205, 244, 105, 0.3);
$darkRed: #d00000;
$red: #ff0000;
$orange: #ff6600;
$green: #00b050;
$blue: #4596ff;

.markdown-preview-view {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &,
    &.cm-header-1,
    &.cm-header-2,
    &.cm-header-3,
    &.cm-header-4,
    &.cm-header-5,
    &.cm-header-6 {
      background: $lightGreen;
    }

    &.cm-header-1 {
      background: $lightGreen;
    }

    &.cm-header-2 {
      color: $darkRed;
    }

    &.cm-header-3 {
      color: $red;
    }

    &.cm-header-4 {
      color: $orange;
    }

    &.cm-header-5 {
      color: $green;
    }

    &.cm-header-6 {
      color: $blue;
    }
  }
}